/*--------------------------------------------
Base styles
----------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}
html, body {
    font-size: 14px;
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}
h2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3px;
    margin: 0;
}
h3 {
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 2px;
    margin: 0;
    color: #6f5658;
}
p,
div {
    margin: 0;
    padding: 0;
}
button {
    border-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    margin: 0;
    padding: 0;
}

/*----------------------------------------
         Scene
-----------------------------------------*/
.scene {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}
/*----------------------------------------
    Scene1 styles
-----------------------------------------*/

#scene1 .bcg {
    display: inline-block;
    background-image: url(../../image/taekwondo/banner-image.png);
    background-color: #37658a;
    background-size: cover;
    height: 500px;
    opacity: .8;
}
/* Text styles */
#scene1 .title {
    position: absolute;
    top: 13%;
    left: 20%;
    width: 60%;
    height: 100%;
    text-align: center;
}
.title h1 {
    font-weight: 600;
    letter-spacing: 5px;
}
.title .main-title {
    color: #D91C1A;
}
.title .sub-title {
    font-size: 15px;
    color: #c9c9c9;
    letter-spacing: 3px;
    line-height: 30px;
    margin: 10px 0;
    opacity: .6;
}
.title p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 2px;
    opacity: .9;
}
/* Scroll down styles */
.scene .scroll-down {
    position: absolute;
    top: 80%;
    left: 40%;
    padding: 7px 0 7px 0;
    background-color: #D91C1A;
    text-align: center;
    opacity: .9;
}
.scroll-down img {
    width: 30%;
    height: 30%;
}
/* Menu styles */
.menu-container {
    position: fixed;
    top:7%;
    right:2%;
    text-align: right;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
}
.menu-container .menu-icon {
    cursor: pointer;
}
/* Person icons */

.person-image {
    visibility: hidden;
    opacity: 0;
}

/*----------------------------------------
   Scene2 - About USTA
-----------------------------------------*/

.about-wrapper {
    height: 100%;
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
}
.about-wrapper .about-title {
    color: #D91C1A;
}
.about-subtitle {
    margin: 15px 0;
}
.about-text {
    color: #898989;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 10px 0 10px 20px;
    width: 90%;
}
.about-content {
    line-height: 25px;
    color: #D91C1A;
    letter-spacing: 2px;
    font-size: 14px;
    width: 90%;
    margin: 8px 0 10px 25px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 30px;

}
.about-circle {
    position: relative;
    border-radius: 100%;
    border-color: #c6c6c6;
    border-width: 9px;
    border-style: solid;
    width: 145px;
    height: 145px;
    margin: 0 auto;
}

.about-circle .dev-text {
    font-size: 17px;
    width: 100%;
    color: #6f5658;
    position: absolute;
    top: 55px;
    right: 1px;
    opacity: 1;
    visibility: visible;
}
.loader {
    position: relative;
    margin: -5% 0 0 -5%;
    width: 140px;
    height: 140px;
    z-index: 2;
    transform: rotate(-90deg);
    opacity: .7;
}
.trial-container {
    margin-top: 30px;
}
.trial-container .trial-text {
    color: #D91C1A;
}
/*----------------------------------------
   Scene3 - Schedule styles
-----------------------------------------*/
#scene3 {
    padding-top: 40px;
    background-color: #d7bfd6;
    z-index: 1;

}
.schedule-wrapper {
    width: 80%;
    margin: 0 auto;
}
.schedule-title {
    color: #477edb;
}
.schedule-container-small {
    position: relative;
    display: block;
    margin-top: 10px;
    width: 100%;
    align-items: center;
}
.schedule-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: none;
}
.schedule-top {
    position: relative;
    background-color: #000;
    width: 100%;
    height: 35px;
    opacity: .7;
    text-align: center;
    visibility: visible;
    opacity: 1;
}
.day {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin-top: 7px;
}
/* Schedule */
.schedule {
    position: relative;
    width:100%;
    height: 55px;
    font-size: 14px;
    visibility: visible;
    opacity: 1;
    text-align: center;
}
.class-time {
    display: inline-block;
    letter-spacing: 3px;
    margin-top: 5px;

}
.class-title {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 5px;
}
.class-subtitle {
    font-size: 11px;
    letter-spacing: 1px;
    margin:0;
    padding: 0;
}
/* First class */
.schedule-first {
    background-color: #fcde5a;
    color: #000;
}
/* Second class */
.schedule-second {
    background-color: #dd2026;
    color: #fff;
}
/* Third class */
.schedule-third {
    background-color: #4c3932;
    color: #fff;
}
/* Forth class */
.schedule-forth {
    background-color: #338e7f;
    color: #fff;
}
/* Fifth class */
.schedule-fifth {
    background-color: #fcde5a;
    color: #000;
}
/* Sixth class */
.schedule-sixth {
    background-color: #4273dc;
    color: #fff;
}
/* Weekend schedule */
.weekend-schedule {
    padding-top: 10px;
}
.weekend-schedule-container {
    position: relative;
    top:10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.weekend-schedule-title {
    color:#dd2026;
}
.weekend-schedule-subtitle {
    font-size: 12px;
    font-style: italic;
    color: #dd2026;
}
.weekend {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 14px;
    visibility: visible;
    opacity: 1;
    text-align: center;
}
.weekend-schedule-item {
    background-color: #fcde5a;
    color: #000;
}
.weekend-text {
    background-color: #338e7f;
    color: #fff;
}
.weekend-date {
    display: inline-block;
    letter-spacing: 3px;
    margin-top: 20px;
}
.weekend-title {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 10px;
}
.weekend-title-sub {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 5px;
}
.weekend-subtitle {
    font-size: 11px;
    letter-spacing: 1px;
    margin:0;
    padding: 0;
}
.schedule-text p {
    width: 100%;
    font-size: 11px;
    padding: 15px 0 10px 10px;
    line-height: 11px;

    visibility: visible;
    opacity: .8;
}
/*----------------------------------------
      Scene4 - Gallery styles
  -----------------------------------------*/
.gallery-container {
    width: 80%;
    padding-top: 40px;
    margin: 0 auto;
}
.gallery-container h2 {
    color: #338e7f;
}
.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    margin-top: 40px;
    flex-wrap: wrap;

}
.gallery-bcg {
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: #000;
    opacity: .7;
    z-index: 1;
}
.gallery-content {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
    transition: all 0.2s linear;
}
.gallery-content h3 {
    color:#fff;
    font-size: 14px;
}
.magnifier {
    position: absolute;
    top:40%;
    left: 45%;
    visibility: hidden;
    opacity:0;
    transition: all 0.2s linear;
}
.gallery-content span {
    color:#fff;
}
.gallery-content img.hover-shadow {
    transition: 0.3s
}
.gallery-content .hover-shadow:hover {
    background-color: #000;
    opacity: .2;
}
.gallery-content:hover .magnifier{
    visibility: visible;
    opacity: 1;
}
.gallery {
    height: 350px;
    margin-bottom: 5px;
    visibility: visible;
    opacity: 1;
}

/* The Modal (background) */
.column {
    /*float: left;*/
    /*width: 25%;*/
}
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: 10;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-left: 40px;
    padding: 0;
    width: 60%;
    max-width: 300px;
    text-align: center;
}
#image-small {
    display: flex;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    background-color: black;
}
.cursor {
    cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev {
    left: 0;
}
/* Position the "next button" to the right */
.next {
    left: 100%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
/*----------------------------------------
      Footer styles
  -----------------------------------------*/
footer {
    position: relative;
    display: inline-block;
    background-color: #3e464c;
    color:#fff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.footer-container {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 30px 20px;
}
.address {
    position: relative;
    float: left;
    width: 100%;
}

.address .address-title {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.address .store-name {
    position: relative;
    font-size: 18px;
    letter-spacing: 2px;
    opacity: .7;
}
address{
    position: relative;
    line-height: 22px;
    letter-spacing: 1px;
    opacity: .7;
}
.map {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 50%;
    opacity: .9;
}
.map-google {
    width:300px;
    height:250px;
}
.copyright-text {
    margin-top:30px;
    font-size: 12px;
    letter-spacing: 2px;
    opacity: .6;
}

/*----------------------------------------
      Button styles
  -----------------------------------------*/
.btn-usta {
    background: #ff6e6e;
    background-image: -webkit-linear-gradient(top, #ff6e6e, #e00000);
    background-image: -moz-linear-gradient(top, #ff6e6e, #e00000);
    background-image: -ms-linear-gradient(top, #ff6e6e, #e00000);
    background-image: -o-linear-gradient(top, #ff6e6e, #e00000);
    background-image: linear-gradient(to bottom, #ff6e6e, #e00000);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn-usta:hover {
    background: #ff4747;
    background-image: -webkit-linear-gradient(top, #ff4747, #fa0000);
    background-image: -moz-linear-gradient(top, #ff4747, #fa0000);
    background-image: -ms-linear-gradient(top, #ff4747, #fa0000);
    background-image: -o-linear-gradient(top, #ff4747, #fa0000);
    background-image: linear-gradient(to bottom, #ff4747, #fa0000);
    text-decoration: none;
}
/*--------------------------------------------
 Bigger than mobile
 ---------------------------------------------*/
@media only screen and (min-width: 768px) {
    /*----------------------------------------
          Scene
      -----------------------------------------*/
    .scene {
        height: 100vh;
     }
    /*----------------------------------------
        Scene1 styles
    -----------------------------------------*/
    #scene1 .bcg {
        width: 100%;
        height: 100%;
    }
    /* Text styles */
    .title h1 {
        letter-spacing: 10px;
        font-size: 40px;
        line-height: 50px;
    }
    .title .sub-title {
        font-size: 20px;
        letter-spacing: 5px;
        line-height: 40px;
    }
    .title p {
        line-height: 20px;
        letter-spacing: 3px;
    }
    /* Scroll down styles */
    .scene .scroll-down {
        top: 50%;
        left: 47%;
      }
    /* Menu styles */
    .menu-container {
        visibility: visible;
        opacity: 1;
    }
    nav {
        position: absolute;
        top: 60%;
        right: 1%;
        width: 200px;
        opacity: .8;
    }
    nav ul {
        list-style: none;
    }
    .menu {
        height: 50px;
        background-color: #005659;
        visibility: hidden;
        opacity: 0;
    }
    .menu a {
        display: block;
        padding: 15px 10px 0 0;

    }
    nav .menu:hover{
        background-color:#c9c9c9;
        opacity: .4;
    }
    nav .menu .nav-label {
        font-size: 15px;
        letter-spacing: 2px;
        transition: all 0.2s linear;
}

    .menu-intro {
        background-color: #fcde5a;
    }
    .menu-about {
        background-color: #dd2026;
    }
    .menu-class {
        background-color: #4c3932;
    }
    .menu-gallery {
        background-color: #338e7f;
    }
    /* Person icons */
    .person-icon-container {
        position: absolute;
        bottom: 0;
        left: 45%;
    }
    .person-image {
        position: absolute;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        margin-right: 30px;
    }

    /*----------------------------------------
       Scene2 - About USTA
   -----------------------------------------*/
    .about-wrapper h2 {
        font-size: 25px;
        margin-top: 10px;
    }
    .about-subtitle {
       font-size: 20px;
    }
    .about-text {
        font-size: 15px;
        line-height: 25px;
        margin: 25px 0 10px 60px;
    }
    .about-content {
        line-height: 30px;
        font-size: 20px;
        margin: 15px 0 10px 70px;
    }
    .about-circle .dev-text {
        opacity: 0;
        visibility: hidden;
    }
    .trial-text {
        font-size: 20px;
        margin-top: 50px;
    }
    /*----------------------------------------
       Scene3 - Schedule styles
   -----------------------------------------*/
    .schedule-wrapper h2 {
        font-size: 25px;
        margin: 10px 0;
    }
    .schedule-container-small {
        display: none;
    }
    .schedule-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .schedule-top {
        width: 20%;
        visibility: hidden;
        opacity: 0;
    }
    /* Schedule */
    .schedule {
        width: 20%;
        height: 55px;
        visibility: hidden;
        opacity: 0;
    }
    .class-time {
        margin-top: 20px;
    }
    .class-title {
        margin-top: 10px;
    }
    /* Weekend schedule */
    .weekend {
        width: 20%;
        font-size: 14px;
        visibility: hidden;
        opacity: 0;
    }
    .schedule-text p {
        width: 80%;
        margin-top: 15px;
        margin-left: 100px;
        line-height: 15px;
        letter-spacing: 1px;
        visibility: hidden;
        opacity: 0;
    }
    /*----------------------------------------
          Scene4 - Gallery styles
      -----------------------------------------*/
    .gallery-container h2 {
        font-size: 25px;
    }
    .gallery-wrapper {
        margin-top: 80px;
    }
    .gallery {
        visibility: hidden;
        opacity: 0;
    }
   /* The Modal (background) */

    /* Modal Content */
    .modal-content {
        margin: auto;
        max-width: 1000px;
    }
    /* Next & previous buttons */
    /* Position the "next button" to the right */
    .next {
        right: 0;
    }
    /*----------------------------------------
          Footer styles
      -----------------------------------------*/
    .footer-container {
        width: 80%;
        padding: 30px 0 30px 90px;
    }
    .address {
        width: 40%;
    }
    .map {
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .map-google {
        padding: 0;
        margin: 0;
        width: 350px;
        height: 250px;
    }
    .copyright-text {
        margin-top: 60px;

    }

}